<aside>
  <% if site.aside_image.attached? %>
    <div 
      class="profile-pic" 
      style="background-image: url('<%= url_for(site.aside_image) %>');"
    ></div>
  <% end %>
  <div class="info">
    <header>
      <h1><%= site.company_name %></h1>
    </header>
    <ul class="social-icons">
      <% site.social_links.order(:position).each do |link| %>
        <li>
          <a href="<%= link.url %>" target="_blank" rel="noopener">
            <i class="<%= link.icon_class %> icon"></i>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="aside-buttons">
    <a href="tel:<%= site.phone_number %>" class="aside-btn"><i class="fa-solid fa-phone"></i> Appeler</a>
    <a href="mailto:<%= site.contact_email %>" class="aside-btn"><i class="fa-solid fa-envelope"></i> Contacter</a>
  </div>
</aside>
