<nav>
  <ul>
    <% site.pages.each do |page| %>
      <li
        data-<%= @is_mobile ? 'scroll' : 'nav' %>-target="item"
        data-tab="<%= page.slug %>"
      >
        <%= link_to "/#{site.slug}/#{page.slug}",
          class: "nav-link",
          data: {
            action: (@is_mobile ? "scroll#scrollToSection" : nil),
            tab: page.slug,
            turbo: (@is_mobile ? "false" : nil), # ✅ Turbo désactivé uniquement en mobile
            turbo_frame: (@is_mobile ? nil : "page_content"),
            turbo_action: (@is_mobile ? nil : "replace")
          }.compact do %>
          <i class="fa-solid fa-<%= page.icon %>"></i>
          <span class="nav-label"><%= page.label %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
