<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cardify" %></title>
    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <style>
      <%= app_theme_css() %>
      :root {
        --color-secondary: #4b72c2;
        --color-secondary-rgb: 75, 114, 194;
        --color-primary: #6fb4c7;
        --color-primary-rgb: 111, 180, 199;
        --radius: 0;
        --aside-width: 27%!important;
        --article-width: 73%!important;
      }
      .background.gradient {
        background: linear-gradient(to bottom, var(--color-secondary) 0%, var(--color-primary) 100%);
      }
      main {
        width: 80%!important;
        height: 80%!important;
      }
    </style>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= tag.link rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity: "sha512-...", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
    <%= stylesheet_link_tag :app %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-site-slug="<%= @site.slug %>">
    <%= render "shared/flash" %>
    <div class="background gradient"></div>
    <main id="appContent">
      <%= render "admin/layouts/nav", site: @site %>
      <div class="content">
        <%= render "admin/layouts/aside", site: @site %>
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
