<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || @site.company_name %></title>
    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <style>
      <%= site_theme_css_vars(@site) if @site.present? %>
    </style>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= tag.link rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity: "sha512-...", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="background gradient"></div>
    <main id="appContent"
      data-controller="<%= @is_mobile ? 'scroll' : 'nav' %>"
      <% if @is_mobile %> data-scroll-site-value="<%= @site.slug %>" <% end %>>
      <%= render "showcase/layouts/nav", site: @site %>
      <div class="content">
        <%= render "showcase/layouts/aside", site: @site %>
        <div class="wrapper">
          <%= yield %>
        </div>
      </div>
    </main>
    <button id="scrollTopBtn" aria-label="Retour en haut" class="scroll-top-btn">
      <i class="fa-solid fa-arrow-up"></i>
      <span class="sr-only">Retour en haut</span>
    </button>
  </body>
</html>
