<div>
  <%= f.text_field :company_name,
        placeholder: "Nom de l'entreprise" %>
</div>

<div>
  <%= f.email_field :contact_email %>
</div>

<div>
  <%= f.telephone_field :phone_number %>
</div>

<div>
  <%= f.switch_field :published,
        label_text: "Affiché publiquement" %>
</div>

<div>
  <%= f.file_field :aside_image,
        label_text: "Image latérale" %>
</div>
