<%= form_with model: [:admin, @site], local: true, data: { controller: "accordion", accordion_mode_value: "one" } do |f| %>
  <%= render "admin/shared/wrappers/accordion", panel: "Général" do %>
    <%= render "admin/shared/wrappers/bloc" do %>
      <%= render "admin/sites/fields", f: f %>
    <% end %>
  <% end %>

  <%= render "admin/shared/wrappers/accordion", panel: "Thème" do %>
    <%= render "admin/shared/wrappers/bloc" do %>
      <%= render "admin/sites/setting/fields", f: f %>
    <% end %>
  <% end %>

  <%= render "admin/shared/wrappers/accordion", panel: "Réseaux sociaux" do %>
    <div class="space-y-4">
      <%= render "admin/social_links/nested_form", f: f %>
    </div>
  <% end %>

  <%= render "admin/shared/buttons/submit_form", f: f %>
<% end %>
